/* CronometroAdmin.css */
.cronometro-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.timer-card {
    background-color: #807b63;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    min-width: 250px;
    margin-top: 100px;
    width: 1200px;
}

.no-timers-message {
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 5px;
}